.content-block-tickets p {
  margin: 0;
  padding: 0 14px;
}

.items {
  margin-right: 14px;
}

.tickets-section,
.cart {
  background-color: var(--color-light);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-quaternary);
  margin: 10px;
}

.cart {
  padding: 10px;
  display: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}
