.checkout-section_img {
  display: flex;
  justify-content: center;
}

.checkout-section img {
  max-width: 50%;
}

.payment-details {
  background-color: var(--color-light);
  margin: 5px 14px;
}

.one-line {
  display: flex;
  flex-wrap: wrap;
}

.one-line :first-child {
  margin-right: 5px;
}

.one-line div {
  display: flex;
  flex-direction: column;
}

label,
.one-line {
  margin-top: 10px;
}

.one-line_first {
  flex-grow: 2;
}

.one-line_second {
  flex-grow: 1;
}
