.payment-details {
  background-color: var(--color-light);
  margin: 5px 14px;
}

.flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-wrap :first-child {
  margin-right: 5px;
}

.flex-row-wrap div {
  display: flex;
  flex-direction: column;
}

label,
.flex-row-wrap {
  margin-top: 10px;
}

.flex-row-wrap-first {
  flex-grow: 2;
}

.flex-row-wrap-second {
  flex-grow: 1;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}
