.event-bg-cosmology {
  background-image: url(../images/celsonew1.jpg);
}

.event-bg-evolution {
  background-image: url(../images/mammothnew.jpg);
}

.event-bg-biology {
  background-image: url(../images/peoplenew.jpg);
}

.event-bg-robotics {
  background-image: url(../images/roboticsnew.jpg);
}

.event-bg-ecology {
  background-image: url(../images/genoanew.jpg);
}
