.bg-img-exhibition {
  background-image: url(../images/jesse.jpg);
}

.event-bg-cosmology {
  background-image: url(../images/celsonew1.jpg);
}

.event-bg-evolution {
  background-image: url(../images/mammoth.jpg);
}

.event-bg-biology {
  background-image: url(../images/people.jpg);
}

.event-bg-robotics {
  background-image: url(../images/samuel-zeller-1new.jpg);
}

.event-bg-ecology {
  background-image: url(../images/genoa.jpg);
}
