.explore-container {
  padding: 5px 14px;
}

.content-block-teachers {
  border-color: var(--color-tertiary);
}

.content-block-researchers {
  border-color: var(--color-secondary);
}

.cta-container-desktop {
  display: none;
}

.content-block-kids img {
  display: none;
}
