.explore-section {
  padding: 5px 14px;
}

.content-block_teachers {
  border-color: var(--color-tertiary);
}

.content-block_researchers {
  border-color: var(--color-secondary);
}

.cta-container_view {
  display: none;
}

.content-block_kids img {
  display: none;
}
