.page-intro-content-desktop {
  display: none;
}

.cta-circles-container {
  padding: 5px 14px;
  background-color: var(--background-color-secondary);
  padding-top: 28px;
}

.cta-circle-visit-us {
  background-color: var(--color-quaternary);
}

.cta-circle-buy-tickets {
  background-color: var(--color-tertiary);
}

.cta-circle-exhibitions {
  background-color: var(--color-quaternary);
}

.event-bg-img-first {
  background-image: url(../images/scientific.jpg);
}

.event-bg-img-second {
  background-image: url(../images/celsonew-last.jpg);
}

.event-bg-img-third {
  background-image: url(../images/andrew.jpg);
}
