.bg-img-home {
  background-image: url(../images/billetto.jpg);
}

.welcome-section {
  background-color: var(--color-light);
  display: flow-root;
}

.welcome-content img {
  display: none;
}

.welcome-text-web {
  display: none;
}

.cta-circle-section {
  background-color: var(--background-color-secondary);
}

.cta-circle_visit-us {
  background-color: var(--color-quaternary);
}

.cta-circle_buy-tickets {
  background-color: var(--color-tertiary);
}

.cta-circle_exhibitions {
  background-color: var(--color-quinary);
}

.welcome-content,
.cta-circle-section,
.events {
  padding: 5px 14px;
}

.cta-circle-section {
  padding-top: 28px;
}

.events p {
  padding-bottom: 23px;
}

.events img {
  max-width: 100%;
}

.event-one,
.event-two,
.event-three {
  background-color: var(--color-light);
}
