.bg-img-home {
  background-image: url(../images/billetto.jpg);
}

.welcome-text-web {
  display: none;
}

.cta-circle-section {
  background-color: var(--background-color-secondary);
}

.cta-circle_visit-us {
  background-color: var(--color-quaternary);
}

.cta-circle_buy-tickets {
  background-color: var(--color-tertiary);
}

.cta-circle_exhibitions {
  background-color: var(--color-quinary);
}

.welcome-content,
.cta-circle-section,
.events {
  padding: 5px 14px;
}

.cta-circle-section {
  padding-top: 28px;
}

.event_img6 {
  background-image: url(../images/scientific.jpg);
}

.event_img7 {
  background-image: url(../images/celso.jpg);
}

.event_img8 {
  background-image: url(../images/andrew.jpg);
}
