body {
  margin: 0px;
}

.home-hero {
  background-image: url(../images/billetto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 31vh;
  display: flex;
  align-items: center;
}

.home-hero-title {
  background-color: var(--color-tertiary);
}

.home-hero h1 {
  padding: 0 14px;
}

.welcome-section {
  background-color: var(--background-color-tiertiary);
  display: flow-root;
}

.welcome-content img {
  display: none;
}

.welcome-text-web {
  display: none;
}

.section-circle-buttons {
  background-color: var(--background-color-secondary);
}

.circle-buttons {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.circle-buttons {
  padding: 14px 14px 0 14px;
}

.circle-button-one,
.circle-button-two,
.circle-button-three {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-button-one {
  background-color: var(--color-quaternary);
}

.circle-button-two {
  background-color: var(--color-tertiary);
}

.circle-button-three {
  background-color: var(--color-quinary);
}

.circle-buttons a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-clock,
.fa-ticket-alt,
.fa-lightbulb {
  font-size: 28px;
}

.welcome-content,
.circle-buttons,
.events,
.events h3,
.events p {
  padding: 14px;
}

.circle-buttons {
  padding-top: 28px;
}

.events p {
  padding-bottom: 23px;
}

.events img {
  max-width: 100%;
}

.event-one,
.event-two,
.event-three {
  background-color: var(--background-color-tiertiary);
}
