@media (min-width: 480px) {
}

@media (min-width: 768px) {
  section > * {
    max-width: 1000px;
    margin: 14px auto;
  }

  .header-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  header label {
    display: none;
  }

  nav {
    display: inline-block;
    position: inherit;
  }

  nav li {
    display: inline;
  }

  nav li a {
    font-size: 16px;
  }

  .buy-tickets-cta {
    background-color: #e38635;
    border-radius: 17px;
    padding: 5px 12px;
  }

  .home-hero {
    height: 42vh;
  }

  .welcome-content {
    display: flex;
    align-items: center;
  }

  .welcome-content img {
    display: block;
    max-width: 40%;
    margin-right: 20px;
  }

  .welcome-text-web {
    display: block;
  }

  .events-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
