@media (min-width: 480px) {
  /*page-intro*/
  .page-intro-content {
    display: flex;
    align-items: center;
  }

  .page-intro-content img {
    display: block;
    max-width: 40%;
    margin: 10px 40px;
  }

  /*Visit us*/
  .cta-circles-container-white {
    display: none;
  }

  .content-block-visit-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 18px;
  }

  .content-block-visit-us h2,
  .content-block-visit-us p {
    display: inline-block;
  }

  /*exhibition-spaces*/
  .events-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
  }

  /*explore*/
  .cta-container-mobile {
    display: none;
  }

  .cta-container-desktop {
    display: flex;
  }

  /*checkout*/
  .checkout-content {
    display: flex;
    align-items: center;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  /*common style*/
  section > * {
    max-width: 1000px;
    margin: 14px auto;
  }

  .content-block {
    margin-top: 0;
    border-style: none;
  }

  /*header*/
  .header-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  header label {
    display: none;
  }

  nav {
    display: inline-block;
    position: inherit;
  }

  nav li {
    display: inline;
  }

  nav li a {
    font-size: 16px;
  }

  .cta-small {
    background-color: var(--color-quaternary);
    border-radius: 17px;
    padding: 8px 16px;
  }

  /*hero*/
  .hero {
    height: 75vh;
  }

  /*page-intro*/
  .page-intro-content {
    flex-direction: row;
    max-width: 1000px;
  }

  .page-intro-content-desktop {
    display: block;
  }

  /*events*/
  .events-list {
    grid-template-columns: unset;
  }

  /*visit us*/
  .visit-us-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 18px;
    margin-bottom: 18px;
  }

  .content-block-visit-us {
    display: block;
  }

  .content-block-location,
  .content-block-visit-us,
  .content-block-contact {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-quaternary);
  }

  iframe {
    height: 750px;
  }

  /*exhibition-spaces*/
  .event-cosmology {
    grid-area: cosmology;
  }
  .event-evolution {
    grid-area: evolution;
  }
  .event-biology {
    grid-area: biology;
  }
  .event-robotics {
    grid-area: ai;
  }
  .event-ecology {
    grid-area: ecology;
  }

  .events-list {
    display: grid;
    grid-template-columns: 1fr fr 1fr;
    grid-gap: 14px;
    grid-template-areas:
      "cosmology cosmology evolution"
      "biology ai ecology";
  }

  /*explore*/
  .content-block-kids,
  .content-block-teachers,
  .content-block-researchers,
  .content-block-tickets {
    border-style: solid;
    border-width: 1px;
    margin-top: 1em;
  }
  .content-block-kids,
  .content-block-tickets {
    border-color: var(--color-quaternary);
  }

  .content-block-teachers {
    border-color: var(--color-tertiary);
  }

  .content-block-researchers {
    border-color: var(--color-secondary);
  }

  .content-block-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
  }

  .content-block-kids img {
    display: block;
    max-width: 300px;
    margin: 10px 40px;
  }

  .content-block-kids {
    display: flex;
    align-items: flex-end;
  }

  /*buy-tickets*/
  .payment-form {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /*footer*/
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
