@media (min-width: 480px) {
  .home-hero h1 {
    padding: 0 14px 0 68px;
  }

  .events,
  .welcome-content {
    padding: 0 68px 28px 68px;
  }

  .footer-contact,
  .footer-navigate,
  .footer-copyright p,
  .footer-some {
    padding: 14px 68px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 12px 68px;
  }

  header label {
    display: none;
  }

  .header-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  nav {
    display: inline-block;
    position: inherit;
  }

  nav li {
    display: inline;
  }
  nav li a {
    font-size: 16px;
  }

  .buy-tickets-cta {
    background-color: #e38635;
    border-radius: 17px;
    padding: 5px 12px;
  }

  .home-hero {
    height: 42vh;
  }

  .welcome-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .welcome-content img {
    display: block;
    max-width: 50%;
  }

  .welcome-text-web {
    display: block;
  }
}
