@media (min-width: 480px) {
  /*index*/
  .welcome-content {
    display: flex;
    align-items: center;
  }

  .welcome-content img {
    display: block;
    max-width: 40%;
    margin-right: 40px;
  }

  .events-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  /*Visit us*/
  .info-block_multiple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 18px;
  }

  .info-block_multiple h2 {
    display: inline-block;
  }

  .cta-circle-section_white {
    display: none;
  }
}

@media (min-width: 768px) {
  /*common styles*/
  section > * {
    max-width: 1000px;
    margin: 14px auto;
  }

  .hero {
    height: 41vh;
  }

  /*header*/
  .header-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  header label {
    display: none;
  }

  nav {
    display: inline-block;
    position: inherit;
  }

  nav li {
    display: inline;
  }

  nav li a {
    font-size: 16px;
  }

  .cta-small {
    background-color: var(--color-quaternary);
    border-radius: 17px;
    padding: 8px 16px;
  }

  /*footer*/
  .footer-section {
    display: flex;
    justify-content: space-between;
  }

  /*index*/
  .home-hero {
    height: 42vh;
  }

  .welcome-text-web {
    display: block;
  }

  .events-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*visit us*/
  .bg-img-visit {
    background-image: url(/images/scott-webb-desktop.jpg);
  }

  .info-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 18px;
    margin-bottom: 18px;
  }

  .content-block {
    margin-top: 0;
    border-style: none;
  }

  .info-block_multiple {
    display: block;
  }

  .info-block_location,
  .info-block_multiple,
  .info-block_contact {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-quaternary);
  }

  iframe {
    height: 750px;
  }
}
