@import "imports/variables.css";
/*common styles*/
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--background-color-primary);
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  padding: 5px 14px;
}

h1 {
  color: var(--color-primary);
  font-size: 24px;
}

h2,
h3 {
  color: var(--color-secondary);
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

p {
  padding: 5px 14px;
}

/*header*/
header {
  background-color: var(--color-light);
  position: sticky;
  top: 0;
  width: 100%;
}

.header-content {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.logo {
  height: 47px;
}

nav {
  display: none;
  position: absolute;
  top: 65px;
  background: var(--color-light);
  z-index: 1000;
  right: 0px;
}

nav li {
  display: block;
  padding: 12px;
}

nav li a {
  text-decoration: none;
  color: var(--color-dark);
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.current {
  text-decoration: underline;
}

/*header-image*/
.bg-img {
  background-image: url(../images/heroImg.png);
}

/*hero*/
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 31vh;
  background-position: center center;
}

.hero-title {
  background-color: var(--color-tertiary);
  display: flow-root;
  text-align: center;
}

/*page-intro*/
.page-intro-container {
  background-color: var(--color-light);
  display: flow-root;
}

.page-intro-content img {
  display: none;
}

.page-intro-content,
.events-container {
  padding: 5px 14px;
}

.page-intro-content {
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.page-intro-content-column img {
  display: block;
  max-width: 100%;
}

/*events*/
.events-container p {
  padding-bottom: 23px;
}

.event-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  display: flex;
  align-items: center;
}

.event {
  background-color: var(--color-light);
}

.content-block {
  background-color: var(--color-light);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-quaternary);
  margin-top: 1em;
}

/*form-styling*/
.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 14px;
}

.form-wrapper input,
form textarea {
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

input[type="submit"] {
  text-transform: uppercase;
  font-size: 16px;
}

/*cta*/
.cta-circles-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 14px 0;
}

.cta-circles-content a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-circles-content i {
  font-size: 28px;
}

.cta {
  background-color: var(--color-quaternary);
  color: var(--color-dark);
  text-decoration-line: none;
  border-radius: 8px;
  text-align: center;
  padding: 5px 35px;
  text-transform: uppercase;
  font-weight: bold;
  border-style: none;
  margin: 14px;
}

.cta:hover,
.cta-small:hover,
.cta-circle:hover {
  background: var(--color-quinary);
}

.cta-container,
.cta-container-mobile,
.cta-container-desktop {
  display: flex;
  justify-content: flex-end;
}

/*overwrite default safari/iOS styling*/
input[type="text"],
input[type="submit"] {
  -webkit-appearance: none;
}

/*footer*/
footer h3 {
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 0px;
}

footer {
  background-color: var(--color-tertiary);
  margin-top: 1em;
}

footer > * {
  padding: 14px;
}

.footer-navigate {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: var(--color-dark);
  font-style: normal;
  margin-bottom: 10px;
}

.footer-contact div {
  margin-bottom: 10px;
}

.footer-contact i,
.footer-some i {
  margin-right: 10px;
}

.footer-some i {
  font-size: x-large;
}

.footer-some {
  margin-top: 28px;
}

.footer-copyright {
  background-color: var(--color-secondary);
  padding: 1px 14px;
}

.footer-copyright p {
  color: var(--color-light);
  font-size: 14px;
}
