@import "imports/variables.css";

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--background-color-primary);
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  padding: 5px 14px;
  display: inline-block;
}

h1 {
  color: var(--color-primary);
  font-size: 24px;
}

h2,
h3 {
  color: var(--color-secondary);
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

p {
  padding: 5px 14px;
  display: inline-block;
}

header {
  background-color: var(--color-light);
}

.header-content {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.logo {
  height: 47px;
}

nav {
  display: none;
  position: absolute;
  top: 65px;
  background: var(--color-light);
  z-index: 1000;
  right: 0px;
}

nav li {
  display: block;
  padding: 12px;
}

nav li a {
  text-decoration: none;
  color: var(--color-dark);
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 31vh;
  display: flex;
  align-items: center;
}

.hero-title {
  background-color: var(--color-tertiary);
  background-color: var(--color-tertiary);
  display: flow-root;
  text-align: center;
}

.hero h1 {
  padding: 0 14px;
}

.cta-circle-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 36px;
  margin-top: 36px;
}

.cta-circle-container a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-circle-container i {
  font-size: 28px;
}

.cta {
  background-color: var(--color-quaternary);
  border-radius: 5px;
  padding: 8px;
  min-width: 50%;
  border-style: none;
}

footer h3 {
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 0px;
}

footer {
  background-color: var(--color-tertiary);
  margin-top: 1em;
}

footer > * {
  padding: 14px;
}

.footer-navigate {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: var(--color-dark);
  font-style: normal;
  margin-bottom: 10px;
}

.footer-contact div {
  margin-bottom: 10px;
}

.footer-contact i,
.footer-some i {
  margin-right: 10px;
}

.footer-some i {
  font-size: x-large;
}

.footer-some {
  margin-top: 28px;
}

.footer-copyright {
  background-color: var(--color-secondary);
  padding: 1px 14px;
}

.footer-copyright p {
  color: var(--color-light);
  font-size: 14px;
}
