h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #14393a;
  font-size: 24px;
}

h2,
h3 {
  color: #365c48;
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
}

header {
  background-color: white;
}

.header-content {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.logo {
  height: 47px;
}

nav {
  display: none;
  position: absolute;
  top: 51px;
  background: white;
  z-index: 1000;
  right: 0px;
}

nav li {
  display: block;
  padding: 12px;
}

nav li a {
  text-decoration: none;
  color: #000000;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

footer h3 {
  text-transform: uppercase;
}

footer {
  background-color: #86a89f;
}

.footer-contact,
.footer-navigate,
.footer-copyright p,
.footer-some {
  padding: 14px 14px;
}

.footer-navigate {
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  background-color: #3f5b49;
}

footer a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  margin-bottom: 10px;
}

.footer-contact div {
  margin-bottom: 10px;
}

.footer-contact i,
.footer-some i {
  margin-right: 10px;
}

.footer-some i {
  font-size: x-large;
}
