.cta-circles-container-white {
  background-color: var(--color-light);
  display: flow-root;
}

.cta-circle-info {
  background-color: var(--color-quaternary);
}

.visit-us-container,
.content-block h2,
.content-block p {
  padding: 5px 14px;
}

.block {
  display: flex;
  justify-content: space-between;
}

.block p {
  margin: 0;
}
