.bg-img-visit {
  background-image: url(../images/scott-webb.jpg);
}

.cta-circle-section_white {
  background-color: var(--color-light);
  display: flow-root;
}

.cta-circle_info {
  background-color: var(--color-quaternary);
}

.mapouter {
  position: relative;
  text-align: right;
  height: 350px;
  width: 500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: 500px;
}

.visit-us-content,
.content-block h2,
.content-block p {
  padding: 5px 14px;
}

.content-block {
  background-color: var(--color-light);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-quaternary);
  margin-top: 1em;
}

.blocks {
  display: flex;
  justify-content: space-between;
}

.blocks p {
  margin: 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.form-wrapper input,
form textarea {
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

input[type="submit"] {
  text-transform: uppercase;
  font-size: 16px;
}

.contact-cta {
  display: flex;
  justify-content: flex-end;
  margin-right: 14px;
  padding-bottom: 14px;
}
