:root {
  --color-primary: #14393a;
  --color-secondary: #365c48;
  --color-tertiary: #86a89f;
  --color-quaternary: #e38635;
  --color-quinary: #f5b677;
  --background-color-primary: #f2f2f2;
  --background-color-secondary: #e4e4e4;
  --color-dark: #000000;
  --color-light: #ffffff;
}
